{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Dashboard Ereading Admin</title>
{% endblock meta %}

{% block content %}
<body>
    <link rel="stylesheet" href="{% static 'css/ereadingstyle.css' %}">

    <h4 class="mt-2 mb-2">Hai Admin LiteraKarya!</h4>
    <label class="mb-2">Berikut ini adalah daftar bacaan digital yang harus kamu periksa hari ini.</label>

    <div class="container mt-4">
        <div class="row row-cols-1 row-cols-md-3" id="ereadings-display">
            <!-- Data setiap ereading akan ditunjukkan di bagian ini. -->
        </div>
    </div>
</body>

<script src="{% static 'js/ereadingscript.js' %}"></script>
{% endblock content %}