{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Dashboard Ereading User</title>
{% endblock meta %}

{% block content %}
<body>
    <link rel="stylesheet" href="{% static 'css/ereadingstyle.css' %}">
    
    <h4 class="mt-2 mb-3">Hai {{ name }}, yuk tambahkan koleksi bacaan digital kamu ke katalog pribadimu di LiteraKarya!</h4>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="form-group">
                <label class="mb-2">(1) Sebelumnya, cek dulu apakah bacaan digital yang mau ditambahkan sudah ada di LiteraKarya.</label>
                
                <select class="form-control custom-select" id="selectedGenre">
                    <option value="">Pilih Genre</option>
                    <option value="All">All</option>
                    {% for genre in genres %}
                        <option value="{{ genre }}">{{ genre }}</option>
                    {% endfor %}
                </select>
                <br>

                <div id="dict-books" data-my-value="{{ dict_books }}"></div>
                <input class="form-control custom-select mb-2" list="bookOptions" placeholder="Type to search..." id="selectedBook">
                <datalist id="bookOptions">
                    {% for book, genres in dict_books.items %}
                        {% with genres_str=genres|join:"-" %}
                            <option value="{{ book }}" data-genres="{{ genres_str }}">
                        {% endwith %}
                    {% endfor %}
            </div>
        </div>
    </div>

    <label class="mt-2">(2) Jika tidak ada, kamu bisa langsung menambahkan bacaan digital milikmu dengan menekan tombol di bawah ini.</label>
    <br>

    <button type="button" class="btn btn-warning mt-2" data-bs-toggle="modal" data-bs-target="#addModalComponent">Add Ereading</button>

    <div class="container mt-4">
        <div class="row row-cols-1 row-cols-md-3" id="ereadings-display">
            <!-- Data setiap ereading akan ditunjukkan di bagian ini. -->
        </div>
    </div>
    
    <div class="modal fade" id="addModalComponent" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #a3cce0">
                    <h1 class="modal-title fs-5">Add Ereading</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
    
                <form method="POST" class="form" id="form" onsubmit="return false;">
                    <table class="table form-table">
                        {{ form.as_table }}
                    </table>
                </form>
                        
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" id="button_add" data-bs-dismiss="modal">Add</button>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="{% static 'js/ereadingscript.js' %}"></script>
{% endblock content %}