{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    h1 {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 50px;

    }
    #reminder {
        padding-left: 50px;
    }
    form {
        margin: 0 auto;
        max-width: 960px;
        padding-left: 50px;
        padding-right: 50px;
    }
    #post {
        text-align: right;
        padding-top: 25px;
    }
    .createFormButton {
      text-align: center;
    }
    #not-login {
      text-align: center;
    }
    #topic-list {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: url('../static/img/caret-down-fill.svg');
      background-size: 15px;
      background-repeat: no-repeat;
      background-position: right center;
    }
</style>

<div class="jumbotron">
    <h1 class="display-4">Dibawa Santai Aja...</h1>
    <p class="lead" id="reminder">Ingat {{user}}, kalau penulis favoritmu itu tidak akan membantumu mengejakan TP SDA, maka tidak usah terlalu dibela &#128077;</p>
</div>

{% comment %} form hanya akan muncul jika user sudah login {% endcomment %}

{% if request.user.is_authenticated %}
<div class="createFormButton">
  <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#collapsibleForm">Buat Topik Diskusi Baru</button>
</div>

<div class="collapse" id="collapsibleForm">
  <form method="POST" id="add-post">
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleFormControlInput1">Subjek</label>
      <input name="subject" type="text" class="form-control" id="subject" placeholder="Mau ngobrolin apa?">
    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Genre</label>

      <select name="genre" class="form-control" id="genre-list" required=True>
        <option>Literasi umum</option>

        {% for g in all_genres %}
          <option>{{g}}</option>
        {% endfor %}

      </select>
    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Topik</label>

      <select name="topic" class="form-control" id="topic-list" required=True>
        <option selected="selected">Pilih Judul Buku</option> <!-- Default option -->



      </select>
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Tuliskan pesan anda</label>
      <textarea name="message"  class="form-control" id="message" rows="3"></textarea>
    </div>

    <p id="post">
        <button type="submit" class="btn btn-primary btn-lg" role="button">Post</button>
    </p>
  </form>
</div>
{% else %}
<div id="not-login">
  <a href="{%url 'main:login'%}">
  <button type="button" class="btn btn-info">Login untuk menambahkan topik diskusi</button>
  </a>
</div>
{% endif %}

<div id="posts">

</div>
{{ request.user.username|json_script:"user_username" }}

<script>
  $('#nopost').remove();

  function showPost(){
    $.get("./json/all-posts", function(item){
      if(item.length == 0){
        $("#posts").append(
          '<h3 id="nopost" class="my-5" style="text-align: center">Belum ada topik pembicaraan</h3>'
        )
      }
      else{
        $('#nopost').remove();
        for(let i=0; i<item.length; i++) {
          putPost(item[i]);
          replyPost(item[i]);
        }
      }
    })
  }
  
  function putPost(post){
    // put post
    let user_username = JSON.parse(document.getElementById('user_username').textContent);
    let deleteOption = (user_username === post.fields.user)
                      ?`  <a id="delete-post-${post.pk}" href="delete-post/${post.pk}">
                            Delete Post
                          </a>
` 
                      : '';
    let replyOption = (!user_username) 
                      ? '' 
                      : `<a data-bs-toggle="collapse" href="#reply-${post.pk}" role="button" aria-expanded="false" aria-controls="collapseExample">
                          Reply
                        </a>`;
  
    $("#posts").prepend(
      `\n<div class="flex-grow-1 py-2 my-4 mx-3 card">
        <div id="post-${post.pk}">
          <div class="card-body px-4 pt-3 pb-3">
            <div>
              ${deleteOption}
              <h6>${post.fields.user} <small class="text-muted"><i>  —  ${post.fields.topic}</i></small></h6>
            </div>
            <h3 class="card-title pt-2">
              ${post.fields.subject}<br>
              <small class="date-info text-muted">${post.fields.date}</small>
            </h3>
            <p class="card-text pt-2">${post.fields.message}</p>
          </div>
        
          <div class="icon-group mb-2">
            ${replyOption}
  
            <a data-bs-toggle="collapse" href="#reply-post-${post.pk}" role="button" aria-expanded="false" class="collapsed mx-5">
              Show reply
            </a>
          </div>
  
          <div class="collapse mt-2 mx-4" id="reply-${post.pk}">
            {% csrf_token %}
            <form method="POST" id="add-reply-${post.pk}">
              <textarea type="text" name="reply-body-${post.pk}" id="reply-body-${post.pk}" class="form-control" required></textarea>
              <button class="btn btn-dark" type="submit" style="margin-top: 10px"> add reply </button>
            </form>
          </div>
        </div>
  
        <div id="reply-post-${post.pk}" class="collapse">
          <!--- reply replies will be appended through ajax --->
        </div>
      </div>`
    );
    
    $.get(`./json/all-replies/${post.pk}`, function(replies){
      if(replies.length == 0){
        $(`#reply-post-${post.pk}`).append(
          `<h6 id="noreply-${post.pk}" class="pt-3" style="text-align: center">No replies yet..</h6>`
        )
      }
      else{
          for(let j=0; j<replies.length; j++){
            putReply(replies[j]);
          }
        }
    })
  }
  
  function putReply(reply){
    // removing the "No replies Yet.." text from DOM
    $(`#noreply-${reply.fields.post}`).remove();
  
    // put reply
    let user_username = JSON.parse(document.getElementById('user_username').textContent);
    let deleteOption = (user_username === reply.fields.user)
                      ?`
                            <a class="dropdown-item" id="delete-reply-${reply.pk}" href="delete-reply/${reply.pk}")">
                              Delete reply
                            </a>` 
                      : '';
    $(`#reply-post-${reply.fields.post}`).append(
      `<div class="card-body mt-2 px-3 pt-3 border-top" id="reply-${reply.pk}">
        <div class="mx-4">
          ${deleteOption}
          <h6>${reply.fields.user}</h6>
          <small class="date-info text-muted">${reply.fields.date}</small>
          <p class="pt-2">${reply.fields.body}</p>
          </div>
      </div>`
    );
  }
  
  function replyPost(post){
    $(`#add-reply-${post.pk}`).submit(function(event){
      event.preventDefault();
      $.post(`add-reply/${post.pk}`, {
        body : $(`#reply-body-${post.pk}`).val()
      }).done(function(data){
        // action on form
        $(`#add-reply-${post.pk}`)[0].reset();
        $(`#add-reply-${post.pk}`).collapse('hide');
        
        // putting the reply
        putReply(data);
        
        // redirect to reply
        $(`#reply-post-${post.pk}`).collapse('show');
        location.href = "#";
        location.href = `#reply-${data.pk}`;
      })
    })
  }
  
  function addPost(){
    $.post("add-post/", {
      subject : $("#subject").val(),
      topic : $("#topic-list").val(),
      message  : $("#message").val(),
      }).done(function(data){
        // action on form
        $("#add-post")[0].reset();
        
        // putting the post
        putPost(data);
        
        // redirect to post
        location.href = "#";
        location.href = `#post-${data.pk}`;
    })
  }
  
  // <!-- ajax setup below is for csrf -->
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) == (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  
  $.ajaxSetup({ 
    beforeSend: function(xhr, settings) {
      if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
        // Only send the token to relative URLs i.e. locally.
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
      }
    } 
  });
  
  $(document).ready(function(){
    showPost();
    const genreSelect = $('#genre-list');
    const topicSelect = $('#topic-list');

    genreSelect.on('change', function() {
        const selectedGenre = genreSelect.val();
        updateTopicOptions(selectedGenre);
    });

    function updateTopicOptions(selectedGenre) {
        $.ajax({
            type: 'POST',
            url: '/forum/',
            data: {
                selected_genre: selectedGenre,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function(response) {
                $('#topic-list').empty();
                console.log(response)
                response.topic_options.forEach(element => {
                  $('#topic-list').append(`<option value="${element.value}">${element.value}</option>`);
                });
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    }
    $(`#add-post`).submit(function(event){
      event.preventDefault();
      addPost();
    });
  })

</script>

{% endblock content %}