{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    h1 {
        padding-left: 50px;
        padding-top: 50px;

    }
    #reminder {
        padding-left: 50px;
    }
</style>

<div class="jumbotron">
    <h1 class="display-4">Dibawa Santai Aja...</h1>
    <p class="lead" id="reminder">Ingat kalau penulis favoritmu itu tidak akan membantumu mengejakan TP SDA, maka tidak usah terlalu dibela &#128077;</p>
    <div class="text-center">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Buat Topik Baru</a>
        </p>
    </div>
  </div>

{% endblock content %}