{% extends 'base.html' %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

{% block content %}
<h1>User Profile</h1>

<div>
    <div class="row" id="user_profile"></div>
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Profile</button>
</div>   
    
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Profile</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="resetForm()"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                    <label for="first_name" class="col-form-label">First Name:</label>
                    <input type="text" name="first_name" id="first_name"></input>
                    </div>
                    <div class="mb-3">
                    <label for="last_name" class="col-form-label">Last Name:</label>
                    <input type="text" name="last_name" id="last_name"></input>
                    </div>
                    <div class="mb-3">
                    <label for="bio" class="col-form-label">Bio:</label>
                    <textarea type="text" name="bio" id="bio"></textarea>
                    </div>
                    <div class="mb-3">
                    <label for="address" class="col-form-label">Address:</label>
                    <input type="text" name="address" id="address"></input>
                    </div>
                    <div class="mb-3">
                    <label for="favorite_genre1" class="col-form-label">Favorite Genre 1:</label>
                    <input type="text" name="favorite_genre1" id="favorite_genre1"></input>
                    </div>
                    <div class="mb-3">
                    <label for="favorite_genre2" class="col-form-label">Favorite Genre 2:</label>
                    <input type="text" name="favorite_genre2" id="favorite_genre2"></input>
                    </div>
                    <div class="mb-3">
                    <label for="favorite_genre3" class="col-form-label">Favorite Genre 3:</label>
                    <input type="text" name="favorite_genre3" id="favorite_genre3"></input>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="resetForm()">Close</button>
                <button type="button" class="btn btn-success" id="button_add" data-bs-dismiss="modal">Add Profile</button>
            </div>   
        </div>
    </div>         
</div> 


<script>
    async function getProfile() {
        return fetch("{% url 'user_profile:get_profile_json' %}").then((res) => res.json())
    }
    async function refreshProfile() {
        document.getElementById("user_profile").innerHTML = ""
        const profile = await getProfile()
        const items = profile.profile;
        htmlString = `
            <div class="col-md-4">
                <div class="card mb-3 custom-card">
                    <div class="card-body">
                        <p>First Name: ${profile.first_name}</p>
                        <p>Last Name: ${profile.last_name }}</p>
                        <p>Bio: ${profile.bio }</p>
                        <p>Address: ${profile.address }}</p>
                        <p>Favorite genre 1: ${profile.favorite_genre1 }</p>
                        <p>Favorite genre 2: ${profile.favorite_genre2 }</p>
                        <p>Favorite genre 3: ${profile.favorite_genre3 }</p>
                    </div>
                </div>
            </div>
            `

            document.getElementById("user_profile").innerHTML = htmlString
              
    }

    refreshProfile()

    function createProfile() {
        fetch("{% url 'user_profile:create_profile' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshProfile)

        document.getElementById("form").reset()
        return false
    }
    document.getElementById("button_add").onclick = createProfile

    function resetForm() {
        document.getElementById("form").reset();
    }

</script>

{% endblock content %}