{% extends 'base.html' %}

{% block content %}
<h1>Notes Page</h1>

<div class="container">
    <div class="row" id="note_cards">
        <!-- Cards will be populated here -->
    </div>
</div>

<br />

<script>
    async function getNotes() {
        return fetch("{% url 'notes_page:get_note_json' %}").then((res) => res.json());
    }

    async function refreshNotes() {
        const notes = await getNotes();
        let htmlString = '';
        notes.forEach((item) => {
            htmlString += `
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">${item.fields.judul_catatan}</h5>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">${item.fields.date_added}</h6>
                        <p class="card-text"><strong>Judul Buku: </strong>${item.fields.judul_buku}</p>
                        <p class="card-text"><strong>Konten Catatan: </strong>${item.fields.konten_catatan}</p>
                        <p class="card-text"><strong>Penanda: </strong>${item.fields.penanda}</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Edit</a>
                        <a href="#" class="btn btn-danger" onclick="deleteNote(${item.pk})">Delete</a>
                    </div>
                    </div>
            </div>`;
        });
        
        document.getElementById("note_cards").innerHTML = htmlString;
        document.getElementById("button_add").onclick = addNote;
    }

    function addNote() {
        fetch("{% url 'notes_page:add_note' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshNotes);

        document.getElementById("form").reset();
        return false;
    }

    function deleteNote(itemId) {
    fetch(`delete-note/${itemId}/`, {
          method: "DELETE",
      }).then(refreshNote)

      return false
  }
  
    refreshNotes()
  
    document.getElementById("button_add").onclick = addNote

    
</script>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Note</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="judul_catatan" class="col-form-label">Judul Catatan::</label>
                        <input type="text" class="form-control" id="judul_catatan" name="judul_catatan"></input>
                    </div>
                    <div class="mb-3">
                        <label for="judul_buku" class="col-form-label">Judul Buku:</label>
                        <input type="text" class="form-control" id="judul_buku" name="judul_buku"></input>
                    </div>
                    <div class="mb-3">
                        <label for="konten_catatan" class="col-form-label">Konten Catatan:</label>
                        <textarea class="form-control" id="konten_catatan" name="konten_catatan"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="penanda" class="col-form-label">Penanda:</label>
                        <textarea class="form-control" id="penanda" name="penanda"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Note</button>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Note</button>

{% endblock content %}
