{% extends 'base.html' %}

{% block content %}
<h1>Notes Page</h1>

<table id="notes_table">
    <tr>
        <th>Tanggal</th>
        <th>Judul Catatan</th>
        <th>Judul Buku</th>
        <th>Konten Catatan</th>
        <th>Penanda</th>
    </tr>

    {% for note in notes %}
        <tr>
            <td>{{note.date_added}}</td>
            <td>{{note.judul_catatan}}</td>
            <td>{{note.judul_buku}}</td>
            <td>{{note.konten_catatan}}</td>
            <td>{{note.penanda}}</td>
            <td>
                <a href="{% url 'notes_page:edit_note' note.pk %}">
                    <button>
                        Edit
                    </button>
                </a>
                <a href="{% url 'notes_page:delete_note' note.pk %}">
                    <button>
                        Delete
                    </button>
                </a>
            </td>
        </tr>
    {% endfor %}
</table>

<br />

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Note by AJAX</button>


<script>
    async function getNotes() {
        return fetch("{% url 'notes_page:get_notes_json' %}").then((res) => res.json())
    }

    async function refreshNotes() {
        document.getElementById("note_table").innerHTML = ""
        const notes = await getNotes()
        let htmlString = `<tr>
            <th>Tanggal</th>
            <th>Judul Catatan</th>
            <th>Judul Buku</th>
            <th>Konten Catatan</th>
            <th>Penanda</th>
        </tr>`
        notes.forEach((item) => {
            htmlString += `\n<tr>
            <td>${item.fields.date_added}</td>
            <td>${item.fields.judul_catatan}</td>
            <td>${item.fields.judul_buku}</td>
            <td>${item.fields.konten_catatan}</td>
            <td>${item.fields.penanda}</td>
        </tr>` 
        })
        
        document.getElementById("notes_table").innerHTML = htmlString
        document.getElementById("button_add").onclick = addNote
    }

    function addNote() {
        fetch("{% url 'notes_page:add_note' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshNotes)

        document.getElementById("form").reset()
        return false
    }

    refreshNotes()
   
</script>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="judul_catatan" class="col-form-label">Judul Catatan::</label>
                        <input type="text" class="form-control" id="judul_catatan" name="judul_catatan"></input>
                    </div>
                    <div class="mb-3">
                        <label for="judul_buku" class="col-form-label">Judul Buku:</label>
                        <input type="text" class="form-control" id="judul_buku" name="judul_buku"></input>
                    </div>
                    <div class="mb-3">
                        <label for="konten_catatan" class="col-form-label">Konten Catatan:</label>
                        <input type="text" class="form-control" id="konten_catatan" name="konten_catatan"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="penanda" class="col-form-label">Penanda:</label>
                        <input type="text" class="form-control" id="penanda" name="penanda"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Note</button>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
