{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>    
    <link rel="stylesheet" href="{% static 'css/bookmark.css' %}"/>
    <script src="{% static 'js/bookmark.js' %}"></script>
    
{% endblock meta %}
    
{% block content %}
<div id = "main" class = "container py-4">
    <div id="judul-page">
        <div class="text-center" id = judul>Happy Reading <span style="color:chocolate;">{{request.user}}</span></div>
    
        <div class="container text-center py-2">
            <div>
                <div>Find Your Happyness Here!</div>
            </div>
            <form class="d-flex" action="/books/bookmark" method=POST>
                {% csrf_token %}
                <input class="form-control me-2" type="search" placeholder="Search Genres Book" name="searched">
                <button class="btn btn-dark ml-3" type="submit">
                    <i class="fa fa-search fa-lg"></i>
                </button>
            </form>
        </div>
    </div>
    

    <div class="container py-2">
        <div class="row row-cols-1 row-cols-md-3 g-4 py-3">
            
            {% if banyak_buku == 0 %}
            <div class="container text-center py-2">
                <h4>Yuk <span><a id = "add-bukumark" href="{% url 'book_page:show_list_books' %}">Add Buku</a></span> Baru Untuk Kamu Baca!!!</h4>
            </div>
            {% endif %}
            
            {% for book,desc in books  %}
                <div class="col">
                    <div class="card text-center">
                        <a href="book/{{book.pk}}">
                            <img src={{book.gambar_buku}} class="card-img-top" alt="gambar_buku">
                            <div class="card-body">
                                <div class="card-title">{{book.nama_buku}}</div> 
                                <p class="card-text" id = "desc">{{desc}}...</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li id = "author" class="list-group-item">By {{book.author}}</li>
                                <li id = "rating" class="list-group-item">Rating: {{book.rating}}</li>
                            </ul>
                            <div class="card-body">
                                <a onclick="deleteBookmark('{{book.pk}}');refreshpage()" id="bookmark-btn" class="btn btn-success">Happy Reading!</a>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock content %}