{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a51f172ee7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/info_buku.css' %}"/>

{% endblock meta %}


{% block content %}
<div class = "container py-4">
    <div class="container py-2">
        <div class="row row-cols-1 row-cols-md-3 g-4 py-3">
            <div class="col-md-3">
                <div class="sticky">
                    <div class="card text-center">
                        <img src={{book.gambar_buku}} class="card-img-top" alt="gambar_buku">
                        <div class="card-body">
                            {% if dibookmark %}
                                <a onclick="deleteBookmark('{{book.pk}}');refreshpage('{{book.pk}}')"id="bookmark-btn" class="btn btn-success">Happy Reading!</a>
                            {% else %}
                                <a onclick="addBookmark('{{book.pk}}');refreshpage('{{book.pk}}')" id="bookmark-btn" class="btn btn-dark">Bookmark Read Later</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-8 offset-md-1">
                <div class="info-buku">
                    <div class="judul-buku">
                        {{book.nama_buku}}
                    </div>
                    <div class="author">
                        {{book.author}}
                    </div>
                    <div class="penilaian">
                        <div id='rating'>{{book.rating}} <span id="jumlah-rating">by {{book.jumlah_rating}} reviewer</span></div>
                    </div>
                    <div class="description">
                        {{book.description}}
                    </div>
                    <div class="genres" style="margin-top: 5px;">
                        <span id="daftar-genre">Genres</span>
                        <span id="gen1">{{book.genre_1}}</span>
                        <span id="gen2">{{book.genre_2}}</span>
                        <span id="gen3">{{book.genre_3}}</span>
                        <span id="gen4">{{book.genre_4}}</span>
                    </div>
                    <div class="jumlah-halaman" style="margin-top: 5px;">
                        <div id="halaman">{{book.jumlah_halaman}} Pages </div>
                    </div>
                    <div class="publish" style="margin-top: 7px;">
                        <div id="publish">First published {{book.waktu_publikasi}}</div>
                    </div>
                    
                    {% if book.pk != 1 %}
                    <a href="{% url 'book_page:show_book' idprev %}">
                        <i style = "float: left; margin-top: 20px;color: black;" class="fa fa-arrow-left fa-2x fa-beat" aria-hidden="true"></i>
                    </a>
                    {% endif %}

                    <a href="{% url 'book_page:show_book' idnext %}">
                        <i style = "float: right; margin-top: 20px;color: black;" class="fa fa-arrow-right fa-2x fa-beat" aria-hidden="true"></i>
                    </a>

                </div>
                <div class="comment-section" style="margin-top: 60px;">
                    <div class="judul-comment">
                        Comment
                    </div>
                    <div class="isi-komen">
                        <input  type="hidden" id="id-buku" value="{{book.pk}}">
                        <form id="form-komen" onsubmit="return false;">
                            {% csrf_token %}
                            {% comment %} <textarea name="isi_komen" id="text-komen"></textarea> {% endcomment %}
                            
                            {{form.isi_komen}}
                            
                            <input class = "btn btn-dark " id="add-komen" type="submit" onclick="addKomen('{{book.pk}}')" value="Add Komen">
                        </form>
                    </div>
                    <div class="tampil-komen">
                        <div class="judul-comment">
                            Recent Comments
                        </div>
                        <div class="row">
                            <div class="col" id="nampil-komen-here"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    async function getKomen(idBuku) {
        return fetch(`../get-komen/${idBuku}`).then((res) => res.json())
    }

    async function refreshKomen(idBuku) {
        document.getElementById("nampil-komen-here").innerHTML = ""
    
        const komen = await getKomen(idBuku)
        console.log(komen.length)

        let htmlString = `
            <div class="card border-0">
            <div class="card-body p-1">
            <div class="row">
                <span id="jumlah-komen">Jumlah Komen : ${komen.length}</span>`
                if(komen.length == 0){
                    htmlString+=
                    `<div id="ayo-komen class = "container" style = "text-align: center">Add Your Comment Here!</div>`

                }
                
        komen.forEach((isi) => {
            htmlString += `
            <div class="d-flex flex-start mt-4">
                <div class="rounded-circle shadow-1-strong me-3 py-3">
                    <i class="fa fa-user fa-2x fa-beat"></i>
                </div>
                <div class="flex-grow-1 flex-shrink-1">
                    <div>
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="mb-1">
                                ${isi.fields.user} <span class="small">${isi.fields.date_added}</span>
                            </p>
                        </div>
                        <p class="small mb-0">
                            ${isi.fields.isi_komen}
                        </p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center" id = "likesdislikes">
                            <a onclick = "likes(${isi.pk})" class="link-muted me-2"><i id = "likes-btn" class="fas fa-thumbs-up fa-bounce me-1"></i>${isi.fields.likes}</a>
                            `
                            if("{{request.user}}"=="adminliterakarya"){
                                htmlString+=`<a onclick = "deleteKomen(${isi.pk})" class="link-muted"><i class="fa fa-trash" aria-hidden="true"></i></a>`
                            }
                            htmlString+=`
                        </div>
                    </div>
                </div>
            </div>
            ` 
        })

        htmlString+=`
            </div>
            </div>
            </div>`
        
        document.getElementById("nampil-komen-here").innerHTML = htmlString
    }

    const id_Buku = {{book.pk}}
    refreshKomen(id_Buku)

    function addKomen(idBuku) {
        fetch(`../add-komen/${idBuku}`, {
            method: "POST",
            body: new FormData(document.querySelector('#form-komen'))
        }).then(function() {

        // Refresh comments after adding a comment
        refreshKomen(idBuku);
    })
    .catch(function(error) {
        console.error("Error:", error);
    });
        document.getElementById("teks-komen").value = "";
        return false
    }

    // Add to bookmark
    var linkListener = document.querySelectorAll("#bookmark-btn");

    function addBookmark(idBuku) {
        fetch(`../add-bookmark/${idBuku}`, {
            method: "POST",
        }).then(function(){ 
            $("#bookmark-btn").toggleClass('btn-dark btn-success');
            if ($("#bookmark-btn").text() == "Bookmark Read Later"){
                $("#bookmark-btn").text("Happy Reading!")
            }
            else{
                $("#bookmark-btn").text("Bookmark Read Later");
            }   
        })
    }

    // Delete Bookmark
    function deleteBookmark(idBuku) {
        fetch(`../delete-bookmark/${idBuku}`, {
            method: "DELETE",
        }).then(function(){ 
            $("#bookmark-btn").toggleClass('btn-dark btn-success');
            if ($("#bookmark-btn").text() == "Bookmark Read Later"){
                $("#bookmark-btn").text("Happy Reading!")
            }
            else{
                $("#bookmark-btn").text("Bookmark Read Later");
            }   
        })
    }
    //RefreshPage
    function refreshpage(idBuku){
        window.location.href = "../book/"+idBuku;
    }

    // Likes n dislikes
    function likes(idKomen){
        fetch(`../add-likes/${idKomen}`).then( function(){
            console.log("{{request.user}}"=="muhkemallgp")
            refreshKomen({{book.pk}})
        })
    }

    // deleteKomen by Admin
    function deleteKomen(idKomen){
        fetch(`../delete-komen/${idKomen}`).then( function(){
            console.log("admin berhasil")
            refreshKomen({{book.pk}})
        })
    }

</script>
{% endblock content %}