{% extends 'base.html' %}


{% block meta %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .container{
            font-family: Copernicus,"Libre Baskerville",Georgia,serif;
        }
        .sticky {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
        }
        .judul-buku{
            font-weight: 600;
            font-size: 2.2rem;
            line-height: 3rem;
        }
        .author{
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 2.2rem;
        }
        #rating{
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 2rem;
        }
        #jumlah-rating{
            font:400 0.8rem/1.35714 "Proxima Nova", Montserrat, Arial, sans-serif;
        }
        .description{
            padding-top: 20px;
            text-align: justify;
        }
        .genres{
            padding-top: 10px;
        }
        #daftar-genre{
            font-family: "Proxima Nova",Montserrat,Arial,sans-serif;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.8rem;
            color: grey;
            margin-right: 5px;
        }
        #gen1,#gen2,#gen3,#gen4{
            font: 600 1rem/1.4375 "Proxima Nova",Montserrat,Arial,sans-serif;
            display: inline-block;
            margin-right: 5px;
            text-decoration: underline;
        }
        .judul-comment{
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 3rem;
        }
        textarea{
            width: 100%;
            -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
            -moz-box-sizing: border-box;    /* Firefox, other Gecko */
            box-sizing: border-box;  
        }
        .tampil-komen{
            margin-top: 30px;
        }
    </style>
{% endblock meta %}


{% block content %}
<div class = "container py-4">
    <div class="container py-2">
        <div class="row row-cols-1 row-cols-md-2 g-4 py-3">
            <div class="col-md-3">
                <div class="sticky">
                    <div class="card text-center">
                        <img src={{book.gambar_buku}} class="card-img-top" alt="gambar_buku">
                        <div class="card-body">
                            <a href="#" class="btn btn-dark">Bookmark Read Later</a>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-8 offset-md-1">
                <div class="info-buku">
                    <div class="judul-buku">
                        {{book.nama_buku}}
                    </div>
                    <div class="author">
                        {{book.author}}
                    </div>
                    <div class="penilaian">
                        <div id='rating'>{{book.rating}} <span id="jumlah-rating">by {{book.jumlah_rating}} reviewer</span></div>
                    </div>
                    <div class="description">
                        {{book.description}}
                    </div>
                    <div class="genres">
                        <span id="daftar-genre">Genres</span>
                        <span id="gen1">{{book.genre_1}}</span>
                        <span id="gen2">{{book.genre_2}}</span>
                        <span id="gen3">{{book.genre_3}}</span>
                        <span id="gen4">{{book.genre_4}}</span>
                    </div>
                </div>
                <div class="comment-section" style="margin-top: 30px;">
                    <div class="judul-comment">
                        Comment
                    </div>
                    <div class="isi-komen">
                        <input  type="hidden" id="id-buku" value="{{book.pk}}">
                        <form id="form-komen" onsubmit="return false;">
                            {% csrf_token %}
                            <textarea name="isi_komen" id="text-komen"></textarea>
                            <input class = "btn btn-dark" id="add-komen" type="submit" onclick="addKomen('{{book.pk}}')" value="Add Komen">
                        </form>
                    </div>
                    <div class="tampil-komen">
                        <div class="judul-comment">
                            Recent Comments
                        </div>
                        <div class="row py-2">
                            <div class="col" id="nampil-komen-here"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    async function getKomen(idBuku) {
        return fetch(`../get-komen/${idBuku}`).then((res) => res.json())
    }

    async function refreshKomen(idBuku) {
        document.getElementById("nampil-komen-here").innerHTML = ""
    
        const komen = await getKomen(idBuku)
        console.log(komen)

        let htmlString = `
            <div class="card border-0">
            <div class="card-body p-1">
            <div class="row">`

        komen.forEach((isi) => {
            htmlString += `
            <div class="d-flex flex-start mt-4">
                <img class="rounded-circle shadow-1-strong me-3"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp" alt="avatar" width="65"
                height="65" />
                <div class="flex-grow-1 flex-shrink-1">
                    <div>
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="mb-1">
                                ${isi.fields.user} <span class="small">- ${isi.fields.date_added}</span>
                            </p>
                        </div>
                        <p class="small mb-0">
                            ${isi.fields.isi_komen}
                        </p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <a href="#!" class="link-muted me-2"><i class="fa fa-thumbs-up me-1"></i>${isi.fields.likes}</a>
                            <a href="#!" class="link-muted"><i class="fa fa-thumbs-down me-1"></i>${isi.fields.dislikes}</a>
                        </div>
                    </div>
                </div>
            </div>
            ` 
        })

        htmlString+=`
            </div>
            </div>
            </div>`
        
        document.getElementById("nampil-komen-here").innerHTML = htmlString
    }

    const id_Buku = document.getElementById("id-buku").value
    refreshKomen(id_Buku)

    function addKomen(idBuku) {
        fetch(`../add-komen/${idBuku}`, {
            method: "POST",
            body: new FormData(document.querySelector('#form-komen'))
        }).then(function() {
        // Refresh comments after adding a comment
        refreshKomen(idBuku);
    })
    .catch(function(error) {
        console.error("Error:", error);
    });
        document.getElementById("form-komen").reset()
        return false
    }
</script>
{% endblock content %}
    
    