{% extends 'base.html' %}

{% block content %}
{% if user.profile.first_name and user.profile.last_name %}
    <!-- Tampilkan konten ketika profil telah diisi -->
    <div class="container py-5">
        <h1>
            LiteraKarya
        </h1>
        <h3>Halo {{user.profile.first_name}}</h3>
        <a href="{% url 'user_profile:cari_buku' %}">Cari Buku</a>
        <a href="{% url 'user_profile:rekomen' %}">Rekomen Buku</a>
    </div>
{% else %}
    <!-- Tampilkan pesan jika profil belum diisi -->
    <div class="container py-5">
        <script type="text/javascript">
            window.location.href = "/user_profile/";
        </script>
    </div>
{% endif %}


{% endblock content %}
    
